<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
</head>
<body>
    <div th:fragment="menu">
        <nav role="navigation" aria-label="Main Navigation">
            <div class="navbar-logo">
                <a href="/welcome"><img src="/assets/image/logo.png" alt="Company Logo" /></a>
            </div>
            <div class="navbar-links">
                <a sec:authorize="hasAuthority('SERVICE_CLIENT')" href="/listecustomers">Clients</a>
                <a sec:authorize="hasAuthority('GESTIONNAIRE_DES_VENTES')" href="/listEstimates">Estimates</a>
                <a sec:authorize="hasAuthority('GESTIONNAIRE_DES_VENTES')" href="/listOrders">Orders</a>
                <a sec:authorize="hasAuthority('RESPONSABLE')" href="/listUsers">Users</a>
                <a sec:authorize="hasAuthority('RESPONSABLE')" href="/listUserActions">History</a>
                <a href="monCompte">My Account</a>
            </div>
            <div class="navbar-logout">
                <a href="/logout">
                    <button aria-label="Logout"><img src="/assets/image/puissance.png" alt="Logout Icon" /></button>
                </a>
            </div>
        </nav>
    </div>
</body>
</html>
