<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des actions utilisateur</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div th:replace="~{/inc/menu.html}">MENU</div>

    <h1>Historique des actions des utilisateur·rices</h1>
    
    <div class="research">
        <h3 class="filtre">Filtrer la liste</h3>
        <form action="#" th:action="@{/listUserActions}" method="get">
            <div class="form">
                <label for="method">Type d'action</label>
                <select id="method" name="method">
                    <option value="" th:selected="${method == null || method.isEmpty()}">Tous</option>
                    <option value="Client" th:selected="${method == 'Client'}">Client</option>
                    <option value="Devis" th:selected="${method == 'Devis'}">Devis</option>
                    <option value="Order" th:selected="${method == 'Order'}">Order</option>
                    <option value="User" th:selected="${method == 'User'}">User</option>
                </select>
                <button type="submit">Filtrer</button>
                <a th:href="@{/listUserActions}"><button type="button">Réinitialiser</button></a>
            </div>  
        </form>
    </div>
<div th:if="${grant != null}">
    <p>Grant seleccionado: <span th:text="${grant}"></span></p>
</div>
    
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Utilisateur</th>
                <th>Grant</th>
                <th>Type d'action</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr th:each="action : ${userActions}">
                <td th:text="${action.id}">ID</td>
                <td th:text="${action.user.firstname + ' ' + action.user.lastname}">Utilisateur</td>
                <td th:text="${action.user.grantName}">Grant</td>
                <td th:text="${action.method}">Type d'action</td>
                <td th:text="${action.action}">Description</td>
                <td th:text="${#dates.format(action.timestamp, 'dd/MM/yyyy')}">Timestamp</td>
                <td>
                    <a th:href="@{/userAction/{id}(id=${action.id})}"><button aria-label="bouton d'aperçu" type="button" id="reset">Voir les détails</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
