<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="/styles.css" />
<title>Modifier un utilisateur</title>
</head>
<body>
	<div th:replace="~{/inc/menu.html}">MENU</div>
	<main>
		<h2 class="form-title">Modifier un utilisateur</h2>
		<form th:action="@{/updateUser}" method="post" th:object="${userForm}">
			<input type="hidden" th:field="*{id}" />
			<div class="form-container">
				<div>
					<div th:if="${#fields.hasAnyErrors()}">
						<ul>
							<li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
						</ul>
					</div>

					<div class="form-group">
						<label for="prenom" id="label-prenom" class="form-label">
							Prénom<span class="required">*</span>
						</label> <input type="text" id="firstname" name="firstname"
							th:field="*{firstname}" required aria-required="true" />
					</div>

					<div class="form-group">
						<label for="nom" id="label-nom" class="form-label"> Nom<span
							class="required">*</span></label> <input type="text" id="nom"
							name="lastname" th:field="*{lastname}" required
							aria-required="true" />
					</div>

					<div class="form-group">
						<label for="email" id="label-email" class="form-label">Adresse
							email<span class="required">*</span>
						</label> <input type="email" id="email" name="email" th:field="*{email}"
							required aria-required="true" />
					</div>

					<div class="form-group">
						<label for="grantName" id="label-grant" class="form-label">Droit
							utilisateur</label> <select id="grantName" name="grantName"
							th:field="*{grantName}"
							aria-label="Associer les droits à l'utilisateur">
							<option value="SERVICE_CLIENT">Service client</option>
							<option value="GESTIONNAIRE_DES_VENTES">Gestionnaire des
								ventes</option>
							<option value="RESPONSABLE">Responsable</option>
						</select>
					</div>

					<!-- Boutons -->
					<div class="buttons">
						<button aria-label="bouton de validation" type="submit">Valider</button>
						<a href="/listUsers"
							aria-label="lien de retour vers la liste d'utilisateurs">
							<button type="button">Retour</button>
						</a>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>
