<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Accueil</title>
<link rel="stylesheet" href="styles.css">
<style>
.button-link {
	display: inline-block;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.button-link:hover {
	background-color: #0056b3;
}
</style>
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="assets/image/logo.png" alt="CRYO Logo" id="cryologo">
		</div>
		<h1>Bienvenue sur CRYO</h1>
		<div class="welcomeDescription">
			<section>
				<h2>Contexte et Objectifs</h2>
				<p>Une entreprise de transport souhaite remplacer son système
					actuel basé sur des fichiers Excel, ce qui présente des limitations
					en termes de traçabilité, de fiabilité, de sécurité des données et
					de performance. Le nouveau CRM vise à optimiser la gestion des
					clients depuis la prospection jusqu'à la gestion des commandes et
					des garanties. L'objectif est d'améliorer la crédibilité de
					l'entreprise, de décrocher de nouveaux partenariats et de soutenir
					sa croissance future.</p>
			</section>
			<section>
				<h2>Fonctionnalités Principales</h2>
				<ul>
					<li><strong>Gestion des Clients :</strong> Permettra aux
						utilisateurs d'ajouter de nouveaux clients, de visualiser une
						liste complète des clients existants, d'afficher des informations
						détaillées sur chaque client et de modifier leurs données au
						besoin.</li>
					<li><strong>Gestion des Devis :</strong> Créer, archiver et
						valider des devis pour les clients.</li>
					<li><strong>Gestion des Commandes :</strong> Créer des
						commandes à partir des devis validés.</li>
					<li><strong>Gestion des Utilisateurs et des Rôles :</strong>
						Il sera possible de gérer différents rôles d'utilisateur au sein
						de l'application, ce qui permettra de restreindre l'accès et les
						fonctionnalités disponibles en fonction du poste de l'utilisateur
						dans l'entreprise. Cela garantit la sécurité et une attribution
						appropriée des responsabilités au sein du système.</li>
				</ul>
			</section>
			<section>
				<h2>Technologies Utilisées</h2>
				<ul>
					<li><strong>Langage de Programmation :</strong> Java pour le
						développement du back-end, avec l'utilisation du framework Spring
						pour une architecture robuste et modulaire.</li>
					<li><strong>Base de Données :</strong> PostgreSQL servira de
						système de gestion de base de données relationnelles, offrant un
						stockage sécurisé et efficace des données clients et des
						transactions commerciales.</li>
					<li><strong>Technologies Frontend :</strong> Utilisation de
						technologies HTML, CSS, JS pour l'interface utilisateur.</li>
				</ul>
			</section>
			<div>
				<a href="/" class="button-link">Aller sur l'application</a> 
				<a href="https://github.com/lucasonandi93/crm_java21/tree/master" target="_blank" class="button-link">Voir le code sur GitHub</a>

			</div>
		</div>
	</div>

</body>
</html>

